<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Requests</title>
<link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<link href="../../../resources/css/utils.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/utils.css}" />
<link href="../../../resources/css/utils.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/tables.css}" />
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="col-xs-12">
		<button type="button"
			class="btn btn-default glyphicon glyphicon-arrow-left"
			onclick="goBack()">
		</button>
	</div>
	<h2 class="text-center white" th:text="#{account.r}">Follow Request</h2>
	<div class="form-80wide">
		<div class="container">
				<table th:if="${not #lists.isEmpty(pendingPage.getContent())}"
					class="table table-striped table-hover table-responsive mt-30">
					<thead>
						<tr>
							<th class="col-xs-6 text-right">Username</th>
							<th class="col-xs-6"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="follow: ${pendingPage.getContent()}" th:id="${'td' + follow.follower.id}">
							<td class="text-right hand" th:text="${follow.follower.username}" 
								th:onclick="'window.location.href = \'' + @{/myprofile?accId={accId}(accId=${follow.follower.id})} + '\''">email</td>
							<td>
								<button th:id="${'request-button' + follow.follower.id}" 
									class="btn btn-success btn-xs custom-size"
									th:onclick="'javascript:acceptDeclineUser(\'' + ${follow.follower.id} + '\', true);'"
								>Accept</button>
								<button th:id="${'request-button-decline' + follow.follower.id}"
									class="btn btn-danger btn-xs custom-size"
									th:onclick="'javascript:acceptDeclineUser(\'' + ${follow.follower.id} + '\', false);'"
								>Decline</button>
							</td>
						</tr>
					</tbody>
				</table>
				<p th:if="${#lists.isEmpty(pendingPage.getContent())}"
					class="h4 text-center">No pending follow requests.
				</p>
		</div>
		
		<!-- Pagination Bar -->
		<div th:if="${not #lists.isEmpty(pendingPage.getContent())}">
			<div class="text-center">
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li
							th:class="${not pendingPage.hasPrevious()}? 'disabled page-item' : 'page-item'">
							<span th:if='${not pendingPage.hasPrevious()}'>&laquo;</span> <a
							class="page-link" th:if='${pendingPage.hasPrevious()}'
							th:href="@{/accounts(page=(${pendingPage.getNumber()}-1),
			        			 email=${param.email})}"
							title="Go to previous page">&laquo;</a>
						</li>
						<li
							th:each="i : ${#numbers.sequence(1, pendingPage.getTotalPages())}"
							th:class="${i == (pendingPage.getNumber()+1)}? 'active page-item' : 'page-item'">
							<span th:if='${i == (pendingPage.getNumber()+1)}' th:text='${i}'>1</span>
							<a class="page-link"
							th:if='${not (i == (pendingPage.getNumber()+1))}'
							th:href="@{/accounts(page=(${i}-1), 
			       				email=${param.email})}">
								<span th:text='${i}'>1</span>
						</a>
						</li>
						<li
							th:class="${pendingPage.hasNext()}? 'page-item' : 'disabled page-item'">
							<span th:if='${not pendingPage.hasNext()}'>&raquo;</span> <a
							class="page-link" th:if='${pendingPage.hasNext()}'
							th:href="@{/accounts(page=(${pendingPage.getNumber()}+1), 
			        			email=${param.email})}"
							title='Go to next page'>&raquo;</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

<script>
    function goBack() {
	    window.history.back()
	}
    function acceptDeclineUser(id, accept) {
    	console.log(id);
    	console.log(accept);
		$.get("[[@{/account/}]]"+ id + "/answerrequest/" + accept, 
			function(data) {
				if (data == 1) { // acepta al usuario
					$("#request-button" + id).removeClass("btn-success").addClass("btn-default").text("Accepted").attr('disabled', true)
					$("#request-button-decline" + id).hide();
				} else { // rechaza o no existía tal petición
					$("#td" + id).hide();
				}
			})
	}
</script>
	<div th:replace="fragments/layout :: footer"></div>
</body>